img {
  width: 33%;
}

/*====Header==== */

.header-wrapper {
  display: inline-flex;
}

.header-wrapper div {
  width: 33%;
  
  border: 2px solid green;
}

.header-nav li {
  display: inline-block;
  margin-right: 20px;
}

.header-nav li a {
  text-decoration: none;
}

a:link {
color: yellow;
}

a:visited {
  color: green;
  }

  a:hover {
    background-color: rgba(0, 0, blue, 0);
    padding: 2px 3px 4px 5px;

  }

span {
  color: blue;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  
}
table
{
  width: 80%;
  margin: auto;
}

footer {
  background: lightblue;
}

i {
  font-size: 40px;
}

.fa-github {
  color: yellow;
}

.para {
  color: red;
}

#para1 {
  background-color: green;
}

